* {  /* Reset the user agent setting */
  margin: 0;
}

#main {
}

header {
  width: 100%;
  min-height: 500px;
  background-color: black;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(50,50,50,0.6)), url("https://www.ncregister.com/images/editorial/rsz_mt_5_photo_book.jpg");
  background-position: 20%;;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 100px 0 rgba(50,50,50,0.6);
}

#hero-title {
  padding-top: 200px;
  padding-right: 20%;;
  text-align: right;
  color: white;
  font-size: 4em;
  font-family: "Lucida Console", serif;
  text-shadow: 2px 2px rgb(20, 20, 20);
}

#hero-subtitle {
  padding-right: 50px;
  text-align: right;
  color: white;
  font-size: 0.5em;
  font-style: italic;
}
#hero-life {
    padding-right: 50px;
    text-align: right;
    color: white;
    font-size: 0.5em;
    font-style: italic;
}

#tribute-info {
  padding-top: 50px;
  text-align: center;
  color: rgba(50, 50, 50);
  font-family: "Times New Roman", sans-serif;
}

#tribute-quote {
  margin: 150px 20% 100px;
  padding: 20px 0;
  height: 400px;
  font-size: 4em;
  font-family: Georgia, serif;
  color: rgba(169,103,23,1);
  text-shadow: 2px 2px 10px rgba(169,103,23,0.5);
}
#tribute-quote::before {
  content: "\201C";
}

#tribute-quote::after {
  content: "\201D";
}

#img-div {
  padding-bottom: 50px;
}

#image {
  width: 50%;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#image-caption {
  font-size: 1em;
  color:rgb(50, 50, 50);
}

#title {
  padding: 10px;
  font-size: 3em;
  text-align: center;
}

#subtitle {
  padding-top: 5px;
  font-size: 1.5em;
  text-align: center;
}

#biography {
  margin: 20px 20%;
  padding: 20px 0;
  font-size: 1.5em;
}

.list {
  margin: 100px 20%;
  display: grid;
  grid-template-areas: 'image1 image1 text1 text1 text1'
  'text2 text2 text2 image2 image2';
  grid-gap: 0px;
  justify-content: center;
  color: rgb(50, 50, 50);
  list-style: none;
}

.image1 {
  grid-area: image1;
}

.image2 {
  grid-area: image2;
}

.text1 {
  grid-area: text1;
}

.text2 {
  grid-area: text2;
}

.list img {
  max-width: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -website-filter: grayscale(100%);
  filter: grayscale(100%);
}

.list:nth-child(odd) li {
  padding: 5px 0px 5px 20px;
}

.list:nth-child(even) li {
  padding: 5px 20px 5px 0px;
}

.links {
  padding: 40px 0;
}

.link{
  padding: 20px 20%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

footer {
  /* margin-top: 50px; */
  padding: 50px 10%;
  text-align: center;
  background-color: #2d2c2bf5;
  color: white;
}

.footer-text {
  padding: 10px 0;
}

hr {
  margin-left: 10%;
  margin-right: 10%;
  width: 80%
}
