* {  /* Reset the user agent setting */
  margin: 0;
}

#main {
}

header {
  width: 100%;
  height: 500px;
  background-color: black;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(50,50,50,0.4)), url("../img/mother-teresa-hero.jpg");
  background-position: 20%;;
  background-repeat: no-repeat;
  background-size: contain;
}

#title {
  padding-top: 200px;
  padding-right: 20%;;
  text-align: right;
  color: white;
  font-size: 4em;
}

#subtitle {
  padding-right: 50px;
  text-align: right;
  color: white;
  font-size: 0.5em;
  font-style: italic;
}

#tribute-info {
  padding-top: 50px;
  text-align: center;
}

#tribute-proverb {
  margin: 20px 10%;
  padding: 20px 0;
  font-size: 4em;
  color: rgba(169,103,23,1);
}
#tribute-proverb::before {
  content: "\201C";
}

#tribute-proverb::after {
  content: "\201D";
}

#tribute-title {
  padding: 10px;
  font-size: 3em;
  text-align: center;
}

#tribute-subtitle {
  padding-top: 5px;
  font-size: 1.5em;
  text-align: center;
}

#tribute-biography {
  margin: 20px 20%;
  padding: 20px 0;
  font-size: 1.5em;
}

#footer {
  width: 100%;
}
